/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo ocupando toda a tela */
body {
    width: 100vw;
    height: 100vh;
    background-color: #0d0d0d;
}

/* Imagem ocupando toda a tela */
.capa {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém proporção sem distorcer */
}
